  <div class="content">
    <div class="cards">
        <% @markets.each do |market| %>
          <div class="card-custom" data-bio="<%= market.bio %>" data-night="<%= market.night %>" data-open="market.open_on">
            <div class="additional" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= market.img %>')">
              <div class="more-info">
                <h2><%= market.name %></h2>
                <p><%= market.street %> <%= market.postal_code %> <%= market.city %></p>
                <div class="stats">
                  <div>
                    <i class="fas fa-store"></i>
                    <div class="value py-1"><%= market.vendors %></div>
                    <div class="title">Merchants</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="general">
              <h2><%= market.name %></h2>
              <span class="distance"><%= "à " if market.latitude %><%= market.distance_to([@search_lat,@search_lon]).round(2) if market.latitude %><%= " km" if market.latitude %></span>

              <div class="tags">
                <span class="bio <%= "invisible" if market.bio == false%>"><%= "biologique" if market.bio == true%></span>
                <span class="night<%= "invisible" if market.night == false%>"><%= "du soir" if market.night == true%></span>
              </div>
              <div class="day">
                <span class="monday <%= "open" if market.open_on[0] %>">lun</span>
                <span class="tuesday <%= "open" if market.open_on[1] %>">mar</span>
                <span class="wednedsday <%= "open" if market.open_on[2] %>">mer</span>
                <span class="thursday <%= "open" if market.open_on[3] %>">jeu</span>
                <span class="friday <%= "open" if market.open_on[4] %>">ven</span>
                <span class="saturday <%= "open" if market.open_on[5] %>">sam</span>
                <span class="sunday <%= "open" if market.open_on[6] %>">dim</span>
              </div>
            </div>
          </div>
        <% end %>
    </div>
    <div class="map-wrapper">
      <div id="map" class="rounded"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
       </div>
     </div>
</div>
