<h1>Markets#index</h1>
<p>Find me in app/views/markets/index.html.erb</p>

<div class="container">
  <div class="row justify-content-center">

      <% @markets.each do |market| %>
        <div class="col-3">
          <div class="card">
            <img class="card-img-top" src="<%= market.img %>" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= market.name %></h4>
              <p class="card-text"></p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= market.street %></li>
                <li class="list-group-item"><%= market.postal_code %> <%= market.city %></li>
                <li class="list-group-item"><%= market.products %></li>
                <li class="list-group-item"><%= market.vendors %></li>
                <li class="list-group-item"><%= market.opening_hours %></li>
              </ul>
            </div>
          </div>
        </div>
    <% end %>

  </div>
</div>
